<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.pets.mapper.PetsSpeciesDetailMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.pets.entity.PetsSpeciesDetail">
        <id column="id" property="id" />
        <result column="intro" property="intro" />
        <result column="details" property="details" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
